body {
    text-align: center;
}

#sb_main {
    width: 600px;
	text-align: left;
}

#sb_footer {
    width: 600px;
}
#sb_online {
	left: 628px;
	width: 130px;
}

#sb_message {
    width: 520px;
    height: 22px;
}

#sb_submit {
    height: 23px;
}

.sb_message, .sb_message_owner, .sb_message_admin {
	line-height: 16px;
	vertical-align: middle;	
}
.sb_text img {
	vertical-align: middle;
	margin: 2px 0px;
} 
