.key{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #434343;
}

.value{
	font-size: 10px;
	color: #000000;
}

.button_title{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	text-align: right;
	padding-right: 13px;
	color: #ababab;
}
